/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

.container {
    width: 70%;
    margin: 0 auto;
}

.flex-container {
    display: flex;
}

img {
    width: 100%;
}

/* reset-links */

a {
    text-decoration: none;
    color: inherit;
}

/* header */

header {
    color: white;
    background-color: #ff6900;

}

.header-bar {
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.menu {
    width: 25%;
}

.menu-navigation {
    display: flex;
    list-style: none;
}

.menu-navigation li {
    padding: 0 5px;
    font-weight: 600;
}

.logo {
    width:  50%;
    text-align: center;
}

.logo img {
    width: 100px;
}

.links {
    width: 25%;
    text-align: right;
}

.icon {
    padding-right: 10px;
}

/* main */

main .flex-container {
    flex-wrap: wrap;
}

.col {
    width: calc(100% / 3);
    padding: 0 10px;
    margin: 40px 0;
}

.images {
    position: relative;
}

.change {
    display: none;
}

.images:hover .preview {
    display: none;
}

.images:hover .change {
    display: inline-block;
}

.heart {
    color: black;
    background-color: white;
    padding: 20px;
    position: absolute;
    top: 20px;
    right: 0;
}

.details {
    position: absolute;
    bottom: 40px;
    left: 0;
    color: white;
}

.discount {
    padding: 10px;
    background-color: red;
}

.sustainability {
    padding: 10px;
    background-color: green;
}

.marca {
    font-size: 14px;
}

.no-sconto {
    color: red;
    font-weight: 800;
}

.sconto {
    text-decoration: line-through ;
}

/* footer */

footer {
    background-color: black;
    color: white;
}

.footer-bar {
    justify-content: space-between;
    padding: 30px 0;
}

.footer-contacts h3 {
    margin-bottom: 10px;
}
.footer-contacts ul {
    display: flex;
    list-style: none;
}

.footer-contacts li {
    padding-right: 10px;
}

.social-link p {
    margin-bottom: 10px;
}

.social-link a {
    padding-right: 5px;
}